<!DOCTYPE html>
<html>

<head>

    <title>Título da Página</title>
</head>

<body style="color: blues;">
    <div style="display: flex; align-items: center; font-size: xx-large;">
        <div style="margin-left: 20px; width: 200px;">
            <h3>Shein</h3>
        </div>

        <div style="margin-left: 20px; width: 500px;">
            <input type="text" id="buscar" name="buscar" placeholder="Insira um produto">
        </div>

        <div style=" width: 200px;">
            icones
        </div>
    </div>


    <p>
        Esta é uma tag para texto
    </p>

    ---------------------

    <h1>
        Esta é uma tag de cabeçalho grande
    </h1>

    <h2 style="color: rgb(74, 14, 82);">
        Esta é uma tag de cabeçalho médio
    </h2>

    <h6>
        Esta é uma tag de cabeçalho pequeno
    </h6>

    <br />

    <a href="http://127.0.0.1:5000/produtos">
        Ir para produtos
    </a>

    <img src="{{ url_for('static', filename='images/google.png') }}" alt="Descrição da imagem">

    <h6>
        Lista de itens abaixo:
    </h6>

    <ul>
        <li>Primeiro item</li>
        <li>Segundo item</li>
    </ul>

    <ol>
        <li>Primeiro item</li>
        <li>Segundo item</li>
    </ol>



    <p>Texto dentro de uma div</p>

    </div>

</body>

</html>