<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<div style="display: flex;">
    <div class="filtros">
        <form action="/produtos" method="post">
            Filtros
            <div class="filtros-categoria">
                {% for key, value in categorias.items() %}
                <div class="filtros-categoria-item">
                    <input type="radio" value="{{ key }}" name="categoria" id="categoria_{{key}}">
                    <label for="categoria_{{key}}">
                        {{value}}
                    </label>
                </div>
                {% endfor %}

                <div class="filtros-preco">
                    <div class="filtros-preco">
                        <input type="range" id="faixa_preco" name="faixa_preco" min="0" max="100" value="30" step="1" />
                        <label for="faixa_preco">
                            Faixa De Preço <span id="faixa_preco_valor">30</span> (BRL)
                        </label>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Filtrar">
                </div>
            </div>
        </form>
    </div>


    <div class="produtos">
        {% if not produtos %}
        <h2>
            Nenhum produto encontrado
        </h2>
        {% else %}
        <h2>
            {{total_produtos}} Produtos encontrados
        </h2>
        {% endif %}

        {% for produto in produtos %}

        <div class="produto">
            <div class="imagem-produto">
                <img src="{{ produto.imagem }}" alt="" class="imagem-produto">
            </div>


            <div class="produto-nome">
                <span class="desconto">-25%</span> {{ produto.nome }}
            </div>

            <div class="precos">
                {% if produto.preco %}
                <span class="preco-original">R${{ produto.preco }}</span>
                {% endif %}
                <span class="preco-desconto">R${{ produto_com_desconto(produto.preco) }}</span>

            </div>

            <div class="tag-produtos">
                <div class="tag-envio">
                    Envio Nacional
                </div>
                <div class="tag-vendedor">
                    Vendedor Indicado
                </div>

            </div>

        </div>



        <br />
        <br />
        {% endfor %}
    </div>



</div>



<script>
    const faixaPrecoInput = document.getElementById('faixa_preco');
    const faixaPrecoValorLabel = document.getElementById('faixa_preco_valor');

    faixaPrecoInput.addEventListener('change', function () {
        faixaPrecoValorLabel.textContent = faixaPrecoInput.value;
    });
</script>